.tabela-padrao td{
    background-color: #424250;
    padding: 5px;
    color: #ffffff;
}

.tabela-padrao th{
    padding: 5px;
    color: #ffffff;
}

.cabecalho-tabela-moda{
    background-color: #BB86FC;
}

.cabecalho-tabela-casa{
    background-color: #00C4B4;
}

